[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
vault = "FyoRGcMWzvNwuRSLFnecpVGG1L1R5YkHZ21v46ddvv32"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test"
