[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
vesting = "EfARhmvRtpzbuGCBHBtnFxLtYFbH2FnBcKKmKVg31Ucs"

[programs.localnet]
vesting = "EfARhmvRtpzbuGCBHBtnFxLtYFbH2FnBcKKmKVg31Ucs"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx mocha -r tsx tests/**/*.ts --timeout 60000"
